*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  a{
    text-decoration: none !important;
    color: #000 !important;
  }
  li{
    list-style: none;
  }
  ul{
    padding: 0 !important;
    margin: 0 !important;
  }
  body{
    font-family: Nunito,sans-serif !important;
    margin: 0 auto !important;
  }
  img{
    vertical-align: middle;
    text-align: center;
  }

  a{
    color: #0052FF !important;
    font-size: 10px;
  }
  .section-padding{
    padding: 20px 30px;
  }
  .nav-pills span {
    color: white ;
  }
  .text-green{
    color: green !important;
  }

  .text-bold{
    font-weight: bold;
  }
  .table-font{
    font-size: 10px;
    line-height: 12px !important;
    display: block;
  }
  .table-extra{
    text-align: center;
    padding-top: 2% !important;
  }
  .table-heading{
    text-align: center;
    color: #6c757d;
  }
  .rate-red{
    color: red !important;
  }
  .rate-blue{
    color: #0052FF !important;
  }
  .rate-green{
    color: green !important;
  }
  .info-icon{
    color: #000;
    opacity: 0.4;
  }
  .table-title{
    font-size: 12px;
  }
  .title-size{
    font-size: 13px;
  }
  
  /*.estimated-menu{
    margin-top: 20px !important;
  }*/
  .section-padding{
    padding: 20px 30px;
  }
  .section-padding-tb{
    padding: 20px 0px;
  }
  .table-footer{
    font-size: 12px;
    margin-top: 10px !important;
    padding: 0px 12px !important;
  }
  .table-footer-left{
    display: flex;
    align-items: center;
  }
  .table-footer-right{
    justify-content: right;
    display: flex;
  }
  
  
  .container-width{
    margin: 20px 50px;
  }
  .header-top-line{
    font-size: 12px !important;
  }
  
  /* top icon bar css start here */
  
  .dropdown-toggle::after{
    display: none;
  }
  .top-icon-bar{
    height: auto;
    box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
    background: white;
  }
  
  .suscribe{
    display: flex !important;
    align-items: center;
  
  }
  .container-width{
    margin: 20px 50px;
  }
  
  /* top icon bar css start here */
  
  
  /*Header css form theme */
  
  .dropdown, .dropend, .dropstart, .dropup {
      position: relative;
  }
  
  .notification-list {
      margin-left: 0;
  }
  
  @media (min-width: 576px) {}

  .d-sm-inline-block {
      display: inline-block!important;
  }
  .notification-list {
      margin-left: 0;
  }
  
  .topbar-dropdown .nav-link {
      line-height: 70px;
  }
  .nav-link {
      display: block;
      padding: 0.5rem 1rem; 
      color: #0d6efd !important;
      text-decoration: none;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  }
  .users-style{
    display: flex;
    align-items: center;
    margin-top: 10px !important;
    padding-left: 5px !important;
  }
  .nav-user {
      background: #ffffff !important;
  }
  
  .nav-user {
      padding: calc(34px * .5) 20px calc(31px * .5) 27px!important;
      text-align: left!important;
      position: relative;
      background-color: var(--ct-nav-user-bg-topbar);
      border: 1px solid var(--ct-gray-200);
      border-width: 0 1px;
      min-height: 70px;
      -webkit-transition: none;
      transition: none;
  }
  .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: gray !important;
  background-color: #2562ff ;
}

.nav-pills span {
  color: black ;
}

  .dropdown-toggle {
      white-space: nowrap;
  }
  
  .dropdown-menu {
      position: absolute;
      z-index: 1000;
      display: none;
      min-width: 10rem;
      padding: 0.5rem 0;
      margin: 0;
      font-size: 1rem;
      color: #212529;
      text-align: left;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 0.25rem;
  }
  
  .dropdown-header {
      display: block;
      padding: 0.5rem 1rem;
      margin-bottom: 0;
      font-size: .875rem;
      color: #6c757d;
      white-space: nowrap;
  }
  
  .dropdown-menu.show {
      display: block;
  }
  
  .dropdown-menu-end[data-bs-popper] {
      right: 0;
      left: auto;
  }
  
  .dropdown-menu[data-bs-popper] {
      top: 100%;
      left: 0;
      margin-top: 0.125rem;
  }
  .dropdown-menu-animated.show {
      top: 100%!important;
  }
  
  .dropdown-menu.show {
      display: block;
  }
  
  .nav-user .account-user-avatar {
      position: absolute;
      top: calc(38px * .5);
      left: 15px;
  }
  
  .nav-user .account-user-avatar img {
      height: 32px;
      width: 32px;
  }
  .rounded-circle {
      border-radius: 50%!important;
  }
  
  .nav-user .account-user-name {
      display: block;
      font-weight: 600;
  }
  .notification-list .topbar-dropdown-menu .notify-item {
      padding: 7px 20px;
  }
  
  .dropdown-item {
      display: block;
      width: 100%;
      padding: 0.25rem 1rem;
      clear: both;
      font-weight: 400;
      color: #212529;
      text-align: inherit;
      text-decoration: none;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
  }
  .dropdown-menu-animated i {
      display: inline-block;
  }
  .notification-list .noti-icon {
      font-size: 22px;
      vertical-align: middle;
      line-height: 70px;
  }
  
  .notification-list a{
    font-size: 16px;
  }
  .notification-list a i{
    padding-top: 30px !important;
  }
  
  
  /*Menu section*/
  
  .amdlogo{
    width: 210px;
    height: 60px;
  }
  .amd-menubox{
    margin-left: 07%;
  }
  .amd-menu{
    padding-left: 10% !important;
  }
  .background{
    background: #fff;
  }
  
  .amd-menu li a{
    color: #6c757d !important;
    font-size: 16px;
  }
  
  .amd-menu li:hover a{
    color: #1562FF !important;
  }
  
  .user-icon{
    background: #727CF5 !important;
    color: white !important;
  }
  
  /*dropdown menu start here*/
  
  
  .login-icon{
    background: #1562FF !important;
    color: white !important;
    padding: 8px;
    border-radius: 15px;
  }
  .login-icon:hover{
    background: #6C757D !important;
  }
  .nav-user{
    background: #fff !important;
  }
  /*hero section*/
  
  
  
  
  
  
  /*marquee css start here */
  
  .marquee-area{
    
  }
  .ticker{
    display: flex;
    flex-wrap: wrap;
    height: 35px;
    margin: 0 auto;
    border-top: 1px solid #E0E3EB;
    border-bottom: 1px solid #E0E3EB;
    border-right: 1px solid #E0E3EB;
    position: relative;
    transition: width 2s;
    overflow: hidden;
  }
  .marquee-select{
    position: absolute;
    top: 8px;
    right: 0px;
    content: "";
    transition: background 0.3s cubic-bezier(0.4, 0.01, 0.22, 1) 1s;
    
  }
  .sku-m{
    display: none;
    padding: 0px 15px;
    background: #0052FF;
    transition: 2s;
    border-radius: 7px 0px 0px 7px;
    color: #fff;
    transition: 3s;
  }
  .sku-m a{
    color: white !important;
  }
  .sku-m i{
    padding-right: 10px;
  }
  .marquee-select:hover .sku-m{
    color: #fff !important;
    display: block;
    transition: 2s;
    transition-delay:1s;
    transition-duration: 0.5s;
  }
  .marquee-select:hover .marquee-i{
    display: none;
  }
  .marquee-i{
    box-shadow: 0 0 5px gray;
    padding: 3px 8px;
    background: #fff;
    border-radius: 7px 0px 0px 7px;
  
  }
  
  
  
  .news{
    background: #fff;
    padding: 0;
  }
  
  .news marquee{
    font-size: 12px;
    margin-top: 5px;
  }
  .news-content p{
    margin-right: 20px;
    margin-left: 10px;
    display: inline;
  }
  .marquee-items{
    margin-right: 15px !important;
    margin-left: 15px !important;
    border-right: 1px solid E0E3EB;
  }
  
  .marquee-4 p{
    font-weight: bold;
    color: #000;
  }
  .marquee-3 p{
    color: red;
    border-right: 1px solid gray;
    padding-right: 35px !important;
  }
  
  
  /*marquee css end here */
  
  
  
  
  .btnContactSubmit
  {
      width: 50%;
      border-radius: 1rem;
      padding: 1.5%;
      color: #fff;
      background-color: #0062cc;
      border: none;
      cursor: pointer;
      margin-right: 6%;
      background-color: white;
      color: blue;
      margin-top: 4%;
  }
  .register .nav-tabs .nav-link:hover{
      border: none;
  }
  .text-align{
      margin-top: -3%;
      margin-bottom: -9%;
  
      padding: 10%;
      margin-left: 30%;
  }
  .form-new{
      margin-right: 22%;
      margin-left: 20%;
  }
  .register-heading{
      margin-left: 21%;
      margin-bottom: 10%;
      color: #e9ecef;
  }
  .register-heading h1{
      margin-left: 21%;
      margin-bottom: 10%;
      color: #e9ecef;
  }
  .btnLoginSubmit{
      border: none;
      padding: 2%;
      width: 25%;
      cursor: pointer;
      background: #29abe2;
      color: #fff;
  }
  .btnForgetPwd{
      cursor: pointer;
      margin-right: 5%;
      color: #f8f9fa;
  }
  .register{
      background: -webkit-linear-gradient(left, #3931af, #00c6ff);
      margin-top: 3%;
      padding: 3%;
      border-radius: 2.5rem;
  }
  .nav-tabs .nav-link{
      border: 1px solid transparent;
      border-top-left-radius: .25rem;
      border-top-right-radius: .25rem;
      color: white;
  }
  
  
  
  
  
  /*subscription main css start here*/
  .subscribe-top{
    color: #6c757d;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
      color: #fff ;
      background-color: #0d6efd;
  }
  
  .nav-item span{
    font-size: 15px;
  }
  
  
  
  /*price section css start here*/
  
  
  
  /*pricing*/
  
  /* .first-price{
    margin-top: 40px;
  } */
  .demo{
   background: #F8F9FA;
    color: #6c757d;
    padding-top: 30px;
    padding-bottom: 40px !important;
  
  }
  .demo p{
    text-align: center;
    font-size: 16px !important;
  }
  .price-button{
    padding: 10px 0px 30px 0px;
  }
  /* payment method button css start here */
  
  /* The switch - the box around the slider */
  .switch {
      position: relative;
      display: inline-block;
      width: 46px;
      height: 20px;
      margin: 0px 15px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
      position: absolute;
      content: "";
      height: 20px;
      width: 20px;
      left: 0px;
      bottom: 0px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #1562FF;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  
  
  
  
  
  
  
  /* payment method button css end here */
  .billing-field input{
    width: 100%;
    padding: 3px 10px;
    border: 1px solid #6c757d;;
    border-radius: 2px;
    font-size: 11px;
  }
  .billing-field label{
    font-weight: bold;
    color: #6c757d;
    margin-bottom: 5px;
    font-size: 11px;
  }
  .billing-field option{
    color: #6c757d;
  }
  
/*   
  .subscription-pricing{
    width: 100% !important;
  } */
  .pricing-bottom-row{
    margin: 30px 0px !important;
  }
  .pricing-soon{
    display: flex !important;
    justify-content: left !important;
    background: darkgray !important;
    padding: 0px 0px 0px 5px !important;
    margin-top: -20px;
    width: 70px;
    color: #fff !important;
  }
  .noon-card{
    margin-top: 20px;
  }
  .noon-payments {
    margin: 5px;
    padding: 10px;
    border: 1px solid transparent;
    opacity: 0.8;
    background: #0052FF;
    color: #fff;
    border-radius: 10px;
    transition: 0.5s;
  }
  .noon-payments:hover {
    opacity: 1;
  }
  .payment-icon{
    padding-top: 50px;
  }
  .topayment {
    margin: 5px;
    padding: 10px;
    border: 1px solid transparent;
    opacity: 0.8;
    width: 300px;
    background: darkgray;
    color: #fff;
    border-radius: 10px;
    transition: 0.5s;
    margin-bottom: 20px;
  }
  .topayment:hover {
    opacity: 1;
    background: #0052FF;
  }
  .white-mode {
      text-decoration: none;
      padding: 17px 40px;
      background-color: yellow;
      border-radius: 3px;
      color: black;
      transition: .35s ease-in-out;
      position: absolute;
      left: 15px;
      bottom: 15px
  }
  .header-title{
    font-size: 15px;
  }
  .pricingTable {
      text-align: center;
      background: #fff;
      margin: 0 10px;
      box-shadow: 0 0 10px #ababab;
      padding-bottom: 10px;
      border-radius: 10px;
      color: #cad0de;
      transform: scale(1);
      transition: all .5s ease 0s
  }
  
  .pricingTable:hover {
      transform: scale(1.05);
      z-index: 1
  }
  
  .pricingTable .pricingTable-header {
      /* padding: 20px 0; */
      
  }
  .pricingTable-header .heading{
    font-weight: bold !important;
    color: #6c757d !important;
    font-size: 12px !important;
  }
  .pricingTable .pricingTable-header i {
      font-size: 50px;
      color: #858c9a;
      margin-bottom: 10px;
      transition: all .5s ease 0s
  }
  .price-value h6{
    padding-top: 10px;
  }
  
  .pricingTable-header p{
    color: #6c757d !important;
    font-size: 14px;
  }
  .pricingTable-header h6{
    color: #6c757d !important;
    padding-top: 30px;
    font-size: 10px
  }
  .pricingTable .price-value {
      font-size: 15px;
      font-weight: bold;
      padding-top: 15px;
      color: #6c757d !important;
      transition: all .5s ease 0s
  }
  
  .pricingTable .month {
      display: block;
      font-size: 12px;
      color: #6c757d !important;
  }
  
  .pricingTable:hover .month,
  .pricingTable:hover .price-value,
  .pricingTable:hover .pricingTable-header i {
      color: #fff
  }
  
  .pricingTable .heading {
      font-size: 20px;
      color: #ff9624;
      margin-bottom: 20px;
      text-transform: uppercase
  }
  
  .pricingTable .pricing-content ul {
      list-style: none;
      padding: 0;
      margin-bottom: 30px
  }
  
  .pricingTable .pricing-content ul li {
      line-height: 30px;
      color: #6c757d !important;
      font-size: 10px;
  }
  .monthly-btn{
    padding: 6px 0px;
    background: #0052ff;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px 10px 0px 0px;
  }
  
  .pricingTable .pricingTable-signup a {
      display: inline-block;
      font-size: 10px;
      color: white !important;
      padding: 10px 35px;
      border-radius: 20px;
      background: #0052ff;
      text-transform: uppercase;
      transition: all .3s ease 0s
  }
  
  .pricingTable.blue .heading,
  .pricingTable.blue .price-value {
      color: #4b64ff
  }
  
  .pricingTable.red .heading,
  .pricingTable.red .price-value {
      color: #ff4b4b
  }
  
  .pricingTable.green .heading,
  .pricingTable.green .price-value {
      color: #40c952
  }
  
  .pricingTable-signup{
    padding-top: 20px;
  }
  .pricingTable-signup a:hover{
    background: #6C757D !important;
    color: #fff !important;
  }
  
  .pricing-content ul li{
    font-size: 14px;
  }
  .pricingTable p{
    font-size: 10px !important;
    margin-bottom: 0px;
    color: #6C757D !important;
    padding: 10px 0;
  }
  
  
  
  .pricingTable.blue:hover .price-value,
  .pricingTable.green:hover .price-value,
  .pricingTable.red:hover .price-value {
      color: #fff
  }
  
  @media screen and (max-width:990px) {
      .pricingTable {
          margin: 0 0 20px
      }
  }
  
  
  
  
  
  /*contact*/
  .text-muted{
    margin-top: 20px !important;
  }
  
  
  
  
  
  
  
  
  /*subscription css*/
  .subscribe-top input{
    margin-top: 20px;
    padding: 8px 35px;
  }
  .subscribe-apply{
    background: #0d6efd;
    color: #fff;
    border: 1px solid gray;
    border-radius: 0px;
    margin-bottom: 40px;
  }
  .subscribe-coupon{
    border: 1px dashed gray;
  }
  
  
  
  
  
  .payment-info{
    padding: 10px;
    margin-top: 20px;
    color: #6c757d; 
  }
  .payment-info span{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .payment-info p{
    font-size: 10px;
  }
  
  
  
  /*subscription main css end here*/
  
  
  @media (max-width: 479px) and (min-width: 320px) { 

    .subscription-pricing1 {
        width: 90% !important;
    }


  }
    
  @media (max-width: 1180px) and (min-width: 768px) { 

    .subscription-pricing1 {
        width: 50% !important;
    }


  }


  .cardSubscriptions {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.pricingHeading {
  font-weight: bolder !important;
  font-size: 20px !important;

}

.price-value-subscription {
  font-size: 16px;
  font-weight: bolder;
  color: #6c757d; 
}
.offerTextSubscription {
  color: #6c757d; 
}

.pricingTable .pricingTable-subscription a {
  display: inline-block;
  color: white !important;
  padding: 10px 33px;
  border-radius: 20px;
  background: #0d6efd;
  text-transform: uppercase;
  transition: all .3s ease 0s;
  font-size: 10px !important;

}
.pricingTable .pricingTable-subscription a:hover{
  background: #6C757D;
}