body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 600px) {
  .container-width {
    margin: 20px 15px !important;
  }
}
.text-primary {
  color: #0054fe !important;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root.Mui-expanded {
  margin: 1px 1px !important;
}
.css-15v22id-MuiAccordionDetails-root {
  padding: 0px 10px 15px !important;
}

.container {
  max-width: 1280px !important;
}

.amd-menu {
  padding-left: 0 !important;
}

svg.recharts-surface {
  margin-left: 13px;
}
.card-body {
  background: white !important;
}
